@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.name{
    color: 
    rgba(230, 83, 60, 1);
    width: 800;
    font-size: 36px;

}
.nanner{
    background-color: (17, 17, 17, 1)
    rgba(119, 119, 119, 0);
    
}
.nav-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.navbar{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}